<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js'></script>

<div class="container">

<!-- beginning of maximage plugin -->
	<div id="maximage">
		
		<!-- first slide -->
		<div class="first-item">
			<p><%= image_tag "austin.jpg" %></p>
			<div id="in-slide-content">
				<h1 class="intro1">I <h1 class="intro2">like</h1></h1>
				<h1 class="intro3">making</h1>
				<h1 class="intro4">things<span class="asterisk">*</span></h1>
				<div class="divider"></div>
				<h1 class="intro5">*especially web things</h1>
				<h1 class="intro6">Joe Marshall</h1>
			</div>
		</div>
		
		<!-- second slide -->
		<div class="in-slide-content">
			<%= image_tag "code.jpg" %>
		</div>

		<!-- third slide -->
		<div class="in-slide-content">
			<%= image_tag "sublime_background.jpg" %>
			<div class="file">
				
				<div class="codeblock1">
					<h1 class="title">Resume.scss</h1>
					<div class="sass-var">
						<p>$twitter: @joecharmar</p>
						<p>$github: MarshalJoe</a></p>
						<p>$city: Austin</p>
					</div>
					<p class="comments">//right now I provide developer<br/>//and technical support for the <br/>//video distribution network <br/>//cinesport.com</p>
					<div class="job">
						<p><span style="color:#6df91b">.jsFreelancer</span>&nbsp&nbsp&nbsp&nbsp&nbsp{</p>
						<div class="indent">
							<p><span style="color:#12d8ea">position-type: </span><span style="color: #f7f785">"front-end"</span>;</p>
							<p><span style="color:#12d8ea">project: </span><span style="color: #f7f785">"cinesport"</span>;</p>
							<p><span style="color:#12d8ea">framework: </span><span style="color: #f7f785">"django"</span>;</p>
							<p><span style="color:#12d8ea">language: </span><span style="color: #f7f785">"javascript"</span>;</p>
							<p><span style="color:#12d8ea">misc-skill: </span><span style="color: #f7f785">"html5video"</span>;</p>
						</div>
						<p>}</p>
					</div>
				</div>

				<div class="codeblock2">
					<div class="job">
						<p><span style="color:#6df91b">#makersquare</span>&nbsp&nbsp&nbsp&nbsp&nbsp{</p>
						<div class="indent">
							<p><span style="color:#12d8ea">position-type: </span><span style="color: #f7f785">"full-stack"</span>;</p>
							<p><span style="color:#12d8ea">role: </span><span style="color: #f7f785">"student"</span>;</p>
							<p><span style="color:#12d8ea">framework: </span><span style="color: #f7f785">"rails"</span>;</p>
							<p><span style="color:#12d8ea">language: </span><span style="color: #f7f785">"ruby"</span>;</p>
							<p><span style="color:#12d8ea">misc-skill: </span><span style="color: #f7f785">"foundation5"</span>;</p>
						</div>
						<p>}</p>
					</div>
					<br>
					<p class="comments">//in the fall of 2013 I<br>//attended the immersive<br>//MakerSquare development <br>//bootcamp, where I built RoR<br>//projects for real-world<br>//clients</p>
				</div>

				<div class="codeblock3">
					<div class="job">
						<p><span style="color:#6df91b">.webContentIntern</span>&nbsp&nbsp&nbsp&nbsp&nbsp{</p>
						<div class="indent">
							<p><span style="color:#12d8ea">position-type: </span><span style="color: #f7f785">"intern"</span>;</p>
							<p><span style="color:#12d8ea">company: </span><span style="color: #f7f785">"somnio"</span>;</p>
							<p><span style="color:#12d8ea">duties: </span><span style="color: #f7f785">"writing"</span>;</p>
							<p><span style="color:#12d8ea">genre: </span><span style="color: #f7f785">"adCopy"</span>;</p>
							<p><span style="color:#12d8ea">misc-skill: </span><span style="color: #f7f785">"proofing"</span>;</p>
						</div>
						<p>}</p>
					</div>
					<br>
					<div class="job">
						<p><span style="color:#6df91b">.uT</span>&nbsp&nbsp&nbsp&nbsp&nbsp{</p>
						<div class="indent">
							<p><span style="color:#12d8ea">major: </span><span style="color: #f7f785">"planII"</span>;</p>
							<p><span style="color:#12d8ea">role: </span><span style="color: #f7f785">"student"</span>;</p>
							<p><span style="color:#12d8ea">graduated: </span><span style="color: #f7f785">with-honors</span>;</p>
							<p><span style="color:#12d8ea">studiedAt: </span><span style="color: #f7f785">"cambridge"</span>;</p>
							<p><span style="color:#12d8ea">extra-skill: </span><span style="color: #f7f785">"journalism"</span>;</p>
						</div>
						<p>}</p>
					</div>
				</div>

			 </div>
			<!-- end of resume.scss file -->

		</div>

		<!-- fourth slide -->


	</div>
<!-- end of maximage plugin -->

</div>
<!-- end of container -->
<div class="directional-wrapper">
	<div class="directional-buttons">
		<a href="" id="arrow_left"><%= image_tag 'arrow_left.png' %></a>
		<a href="" id="arrow_right"><%= image_tag 'arrow_right.png' %></a>
	</div>
</div>

<div class="bio">
	<h2 class="top-bio">Hey!</h2>
	<p>Are you looking for the best damn online pharmaceu - haha, I kid. I'm not one of those. If you're looking for any number of awesome entertainment or commerce sites (and there are a <a href="https://www.google.com/#q=number+of+websites&safe=active">bunch!</a>) then you might be outta luck here...Unless you're looking for someone to <em>make</em> you one of those sites?</p>
	<h2>So who am I?</h2>
	<p>I am a copyrighting, content and coding professional. In other words, a freelance javscript developer who (hi recruiters) is always looking for interesting and renumerative work (and likes to moonlight writing ad copy).</p>
	<h2>Tools</h2>
	<p>I believe strongly in the philosopy of the informed generalist, who - with a broad depth of knowledge - can narrow the problem down to the tailored solution it requires. That said, I often rely on jQuery, SASS, and Ajax for the utility they bring to any project. Although Rails is currently the full-stack framework I'm most familiar with, I'm also exploring Django and a wonderfully lightweight open-source CMS named Bolt.</p>
	<h2>Me</h2>
	<p class="bottom-bio">A University of Texas at Austin Plan II graduate and MakerSquare alum, content strategist and Boardwalk empire conoisseur.</p>
	<div><%= image_tag "joe_marshall.jpg", :class => "image-styler" %></div>
</div>

<div class="footer">
 	<p class="footer-text">
 		<a href="https://github.com/MarshalJoe"><i class="fa fa-github fa-2x icon"></i></a>
 		<a href="http://www.linkedin.com/pub/joe-marshall/50/553/708"><i class="fa fa-linkedin-square fa-2x icon"></i></a>
 		<a href="https://twitter.com/JoeCharMar"><i class="fa fa-twitter fa-2x icon"></i></a>
 	</p>
</div>


<!-- <iframe class="pdf" src="https://docs.google.com/file/d/0By05iqHrOHzVcF9iQUdEMFNtZW8/preview" width="80%" height="500"></iframe> -->

