<a href="" id="code_toggle"><i class="fa fa-code fa-5x"></i></a>

<div id="maximage">
	
	<div class="first-item">
		<p><%= image_tag "city_windows.jpg" %></p>
		<div class="in-slide-content">
			<h1 class="intro">Developer</h1>
			<p class="intro_text"></p>
		</div>
	</div>
	
	<div class="in-slide-content">
		<p><%= image_tag "sublime_background.jpg" %></p>
		<h1 class="code">Resume.scss</h1>
		<p class="code_text">
			<%= ".prepify {" %>
				<p class="code_text indent"><%= "position: web-developer;" %></p>
				<p class="code_text indent"><%= "duration: Nov-current" %></p>
				<p class="code_text indent"><%= "github: "%><a href="https://github.com/MakerSquare-Final-Project/Prepify">repo</a></p>
				<p class="code_text"><%= "}" %></p>
		</p>
	</div>




</div>
